@import url("https://fonts.googleapis.com/css2?family=Comfortaa:wght@300&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --primary-background: #fff5db;
  --secondary-background: #fff8e6;
  --primary-orange: #ffc09f;
  --primary-yellow: #ffee93;
  --primary-blue: #79aadd;
  --primary-green: #c1eead;
  --primary-red: #f7c5c7;
  --toastify-color-light: #ffc09f;
  --toastify-text-color-light: #79aadd;
  --toastify-font-family: Comfortaa;
  --toastify-color-progress-light: linear-gradient(
    to right,
    #75cf84,
    #6fc0e5,
    #67affc,
    #59aed3,
    #7d7bce,
    #df778a
  );
}

@layer base {
  html {
    @apply scroll-smooth;
  }

  body {
    @apply font-[Comfortaa];
  }

  li {
    @apply p-4 text-sm;
  }

  h2 {
    @apply text-xl font-bold;
  }
}

body {
  background: var(--secondary-background);
  color: var(--primary-blue);
}

form.form-example {
  display: table;
}

div.form-example {
  display: table-row;
}

label,
input {
  display: table-cell;
  margin-bottom: 10px;
}

label {
  padding-right: 10px;
}

.card {
  background-color: #ffee93;
  border-style: solid;
  border-color: #ffc09f;
  border: 3px solid #ffc09f;
  border-bottom: 5px solid #ffc09f;
  border-right: 5px solid #ffc09f;
  filter: drop-shadow(15px 15px 4px #cccccf);
}

.card-grid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: repeat(1, auto);
  place-items: center;
}

.user-card {
  background-color: #fcd2ab;
  border-style: solid;
  border-color: #79aadd;
  border: 3px solid #79aadd;
  border-bottom: 5px solid #79aadd;
  border-right: 5px solid #79aadd;
  filter: drop-shadow(15px 15px 4px #cccccf);
}

.delete-button {
  background-color: #f7c5c7;
  border-color: #79aadd;
  border: 3px solid #79aadd;
  filter: drop-shadow(1px 1px 1px #cccccf);
}

.update-button {
  background-color: #c1eead;
  border-color: #79aadd;
  border: 3px solid #79aadd;
  filter: drop-shadow(1px 1px 1px #cccccf);
}

.update-account-button {
  background-color: #ffee93;
  border-color: #79aadd;
  border: 3px solid #79aadd;
  filter: drop-shadow(1px 1px 1px #cccccf);
}
.tag {
  text-align: center;
}
